<h1>Hi {{vm.user.firstName}}!</h1>
<p>Welcome to your Home Page</p>

<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>

<h4><strong>Kind Note to Vicky</strong>:</h4>
<h3 class="credits text-center">Well I hope this will get me done with all the important stuff of Angular</h3>